@font-face {
    font-family: "TRY Grtsk";
    src: url(./fonts/TRYGrtsk-SemiBoldTera-BF6426555e75744.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TRY Grtsk Exa";
    src: url(./fonts/TRYGrtsk-Exa-BF642655366dc3e.ttf);
    font-style: normal;
    font-weight: normal;
}

html{
    font-family: "TRY Grtsk";
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;   
}

a{
    text-decoration: none;
    color: #292522;
}

.header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
}

.header__menu{
    display: flex;
    gap: 20px;
    margin-top: 22px;
    margin-bottom: 8px;
    align-items: center;
}

.header__menu_params{
    font-size: 13px;
    margin-bottom: 15px; 
}














.goods_text_params{
    font-family: "TRY Grtsk Exa";
    margin-top: 10px;
    line-height: 1.5;
}



.loc_in_column{
    display: flex;
    flex-flow: column wrap; 
}

.look_all_param{
    font-family: "TRY Grtsk Exa";
    text-decoration: underline;
    color: #292522;
}

.nav_font_color{
    font-size: 13px;
    margin-bottom: 15px;  
}

.sub_menu_param{
    font-family: "TRY Grtsk Exa";
    line-height: 156%;    
    margin-left: 15px;
}

.main_img{
    position:absolute;
    z-index: -1;  
}

.main_label_loc{
    margin-top: 40px;
    margin-bottom: 30px;
}

.middle_text_pos{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 20px;
}

.red_btn{
    display: flex;
    color: white;
    background-color: #ec3621;
    font-size: 13px;
    text-decoration: none;
    padding: 9px 0px 10px 70px;
    margin: 455px 355px 0px 355px;   
}



.first_link_param{
    position: relative;
    bottom: 45px;
    text-align: center;
    color: #fff;    
}

.footer_params{
    font-family: "TRY Grtsk Exa";
    background: #f5f4f2;
    margin-top: 40px;
}

.footer_font_params{
    line-height: 187%;
    color: #292522;
    text-decoration: none;
}

.header_links_params{
    display: flex;
    gap: 20px;
    margin-top: 22px;
    margin-bottom: 8px;
}

.black_bottom{
    font-family: "TRY Grtsk";
    width: 333px;
    background: #292522;
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

.end_part_loc{
    margin-top: 40px;
    margin-bottom: 22px;
}

.color{
    color: red;
}






















.label_in_center{
    align-items: center;
}
    
.loc_in_line{
    display: flex;
    justify-content: space-between;  
}









