{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css'%}">
    
    <title>{% block title %}Базовый шаблон{% endblock %}</title>
</head>
<body class="body">
    <header>
        <div class="header-container">
            <a><img src="{% static 'media/logo.png'%}" alt="logo"></a>
            <nav class="header-nav-menu">
                <a class="nav_font_color" href="#">ЛИЧНЫЙ КАБИНЕТ</a>
                <a class="nav_font_color" href="#">ИЗБРАННОЕ <span style="color: red;">(0)</span></a>
                <a class="nav_font_color" href="#">КОРЗИНА <span style="color: red;">(0)</span></a>
            </nav>
            <div class="burger-but">
                <div>
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <ul><a href="#" class="nav_font_color">ЛИЧНЫЙ КАБИНЕТ</a></ul>
                        <ul><a href="#" class="nav_font_color">ИЗБРАННОЕ <span style="color: red;">(0)</span></a></ul>
                        <ul><a href="#" class="nav_font_color">КОРЗИНА <span style="color: red;">(0)</span></a></ul>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="central-cont">
            {% comment %} Left bar {% endcomment %}
            <div class="left-bar">
                <div style="margin-top: 60px" class="loc_in_column">
                        {% tag_chapter as chapters %}
                        {% for chapter in chapters %}
                            <div class="category chek-pointer" data-target="products-{{ chapter.slug }}">
                                {{ chapter.name }}</div>
                            <div class="product-list loc_in_column" id="products-{{ chapter.slug }}">
                                {% tag_categories chapter.name as categories%}
                                {% for category in categories %}
                                    <ul class="sub_menu_param">
                                        <li><a href="#">{{ category.name }}</a></li>
                                    </ul>
                                {% endfor %}
                            </div>
                        {% endfor %}     
                </div>
            </div>

        {% block content %}

            <div class="cetral-part"></div>
        </div>
    </section>
    
        {% endblock %}

    <footer class="footer_grid footer_params">
        <main_label class="first_row">    
                <img class="main_img" src="{% static 'media/ВИТРИНА.БРУСНИКА.png'%}" alt="liva">
        </main_label>
        <first_menu class="loc_in_column sec_row_first_col">
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
        </first_menu>
        <sec_menu class="loc_in_column sec_row_sec_col">
            <a href="#">Доставка и оплата</a>
            <a href="#">Обмен и возврат</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Публичная оферта</a>
        </sec_menu>
        <third_menu class="loc_in_column sec_row_third_col">
            <a href="#">Telegram</a>
            <a href="#">VK</a>
        </third_menu>
        <right_part class="loc_in_column sec_row_fourth_col">
            <p>Подпишитесь на нашу e-mail рассылку, чтобы<br>первыми увидеть новые коллекции, новости</p>
            <input style="font-size: medium;" type="email" placeholder="E-mail" id="email" name="email" />
            <a class="black_bottom" href="#">ПОДПИСАТЬСЯ</a>
        </right_part>
        <p class="last_row_left_part">2024 © Витрина Брусника</p>
        <p class="last_row_right_part">Создание сайта — Elpycode</p>
    </footer>
    <script type="text/javascript" src={% static "js/scripts.js" %}></script>
</body>
</html>