{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page.css'%}">
    <title>{% block title %}Базовый шаблон{% endblock %}</title>
</head>
<body class="body">
    <header>
        <div class="header-container">
            <a><img src="{% static 'media/logo.png'%}" alt="logo"></a>
            <nav class="header-nav-menu">
                <a class="nav_font_color" href="#">ЛИЧНЫЙ КАБИНЕТ</a>
                <a class="nav_font_color" href="#">ИЗБРАННОЕ <span style="color: red;">(0)</span></a>
                <a class="nav_font_color" href="#">КОРЗИНА <span style="color: red;">(0)</span></a>
            </nav>
            <div class="burger-but">
                <div>
                    <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
                    <label for="burger-checkbox" class="burger"></label>
                    <ul class="menu-list">
                        <ul><a href="#" class="nav_font_color">ЛИЧНЫЙ КАБИНЕТ</a></ul>
                        <ul><a href="#" class="nav_font_color">ИЗБРАННОЕ <span style="color: red;">(0)</span></a></ul>
                        <ul><a href="#" class="nav_font_color">КОРЗИНА <span style="color: red;">(0)</span></a></ul>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="central-cont">
            <div class="left-bar">
                <div style="margin-top: 60px" class="loc_in_column">
                    <input id="collections-chkbx" type="checkbox" class="chk-bx-hide">
                    <label for="collections-chkbx" class="chek-pointer">КОЛЛЕКЦИИ</label>
                    <sub_menu class="loc_in_column show-hide-collections">
                        <a class="sub_menu_param" href="#">весна-лето</a>
                        <a style="margin-bottom: 21px" class="sub_menu_param" href="#">осень-зима</a>
                    </sub_menu>

                    <input id="cloth-chkbx" type="checkbox" class="chk-bx-hide">
                    <label for="cloth-chkbx" class="chek-pointer">ОДЕЖДА</label>
                    <sub_menu class="loc_in_column show-hide-cloth">
                        {% comment %} <input style="margin-bottom: 21px" id="mans-cloth-chkbx" type="checkbox" class="chk-bx-hide">
                        <label for="mans-cloth-chkbx" class="chek-pointer main_sub_menu_param">Мужская</label>
                        <sub_menu class="loc_in_column show-hide-mans-cloth"> {% endcomment %}
                            <a class="sub_menu_param" href="#">Куртки</a>
                            <a class="sub_menu_param" href="#">Рубашки</a>
                            <a class="sub_menu_param" href="#">Джинсы</a>
                            <a class="sub_menu_param" href="./catalog.html">Футболки</a>
                            <a class="sub_menu_param" href="#">Шорты</a>
                            <a class="sub_menu_param" href="#">Брюки</a>
                        {% comment %} </sub_menu>
                        <input style="margin-bottom: 21px" id="womans-cloth-chkbx" type="checkbox" class="chk-bx-hide">
                        <label for="womans-cloth-chkbx" class="chek-pointer main_sub_menu_param">Женская</label>
                        <sub_menu class="loc_in_column show-hide-womans-cloth"> {% endcomment %}
                            <a class="sub_menu_param" href="#">Джемперы и кардиганы</a>
                            <a class="sub_menu_param" href="#">Толстовки</a>
                            <a class="sub_menu_param" href="#">Футболки и топы</a>
                            <a class="sub_menu_param" href="#">Блузки и рубашки</a>
                            <a class="sub_menu_param" href="#">Платья</a>
                            <a style="margin-bottom: 21px" class="sub_menu_param" href="#">Юбки</a>
                        </sub_menu>
                    </sub_menu>
                    <input id="decorations-chkbx" type="checkbox" class="chk-bx-hide">
                    <label for="decorations-chkbx" class="chek-pointer">УКРАШЕНИЯ</label>
                    <sub_menu class="loc_in_column show-hide-decorations">
                        <a class="sub_menu_param" href="#">Браслеты</a>
                        <a class="sub_menu_param" href="#">Колье</a>
                        <a class="sub_menu_param" href="#">Кольца</a>
                        <a style="margin-bottom: 21px" class="sub_menu_param" href="#">Серьги</a>
                    </sub_menu>

                    <input id="accessories-chkbx" type="checkbox" class="chk-bx-hide">
                    <label for="accessories-chkbx" class="chek-pointer">АКСЕССУАРЫ</label>
                    <sub_menu class="loc_in_column show-hide-accessories">
                        <a class="sub_menu_param" href="#">Головные уборы</a>
                        <a class="sub_menu_param" href="#">Шарфы</a>
                        <a class="sub_menu_param" href="#">Перчатки и варежки</a>
                        <a class="sub_menu_param" href="#">Ремни</a>
                        <a class="sub_menu_param" href="#">Колготки и носки</a>
                        <a style="margin-bottom: 21px" class="sub_menu_param" href="#">Нижнее белье</a>
                    </sub_menu>
                    <input id="for-home-chkbx" type="checkbox" class="chk-bx-hide">
                    <label for="for-home-chkbx" class="chek-pointer">ДЛЯ ДОМА И ОФИСА</label>
                    <sub_menu class="loc_in_column show-hide-for-home">
                        <a class="sub_menu_param" href="#">Смотреть все</a>
                        <a class="sub_menu_param" href="#">Плакаты</a>
                        <a class="sub_menu_param" href="#">Блокноты</a>
                        <a class="sub_menu_param" href="#">Стикерпаки</a>
                        <a class="sub_menu_param" href="#">Чехлы для ноутбуков</a>
                        <a style="margin-bottom: 21px" class="sub_menu_param" href="#">Конструкторы</a>
                    </sub_menu>
                    <a class="chek-pointer" href="#">ПОДАРОЧНЫЙ СЕРТИФИКАТ</a>
                </div>
            </div>

        {% block content %}

            <div class="cetral-part"></div>
        </div>
    </section>
    
        {% endblock %}

    <footer class="footer_grid footer_params">
        <main_label class="first_row">    
                <img class="main_img" src="{% static 'media/ВИТРИНА.БРУСНИКА.png'%}" alt="liva">
        </main_label>
        <first_menu class="loc_in_column sec_row_first_col">
            <a href="#">О нас</a>
            <a href="#">Контакты</a>
        </first_menu>
        <sec_menu class="loc_in_column sec_row_sec_col">
            <a href="#">Доставка и оплата</a>
            <a href="#">Обмен и возврат</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Публичная оферта</a>
        </sec_menu>
        <third_menu class="loc_in_column sec_row_third_col">
            <a href="#">Telegram</a>
            <a href="#">VK</a>
        </third_menu>
        <right_part class="loc_in_column sec_row_fourth_col">
            <p>Подпишитесь на нашу e-mail рассылку, чтобы<br>первыми увидеть новые коллекции, новости</p>
            <input style="font-size: medium;" type="email" placeholder="E-mail" id="email" name="email" />
            <a class="black_bottom" href="#">ПОДПИСАТЬСЯ</a>
        </right_part>
        <p class="last_row_left_part">2024 © Витрина Брусника</p>
        <p class="last_row_right_part">Создание сайта — Elpycode</p>
    </footer>
</body>
</html>